@import url('header.css');

/* Additional communities.css styles */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

/* Communities list container */
.communities-container {
    flex: 1 1 45%;
    max-height: 600px;
    overflow-y: auto;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.communities-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.communities-container ul li {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 8px;
    border: 1px solid #ddd;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.communities-container ul li:hover {
    background-color: #e9ecef;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.communities-container ul li span {
    display: block;
    width: 100%;
    text-align: left;
}

/* Community info container */
.community-info-container {
    flex: 1 1 45%;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.community-info-container h3 {
    margin-top: 0;
}

.community-info-container p {
    margin: 10px 0;
}

/* Search bar styles */
#searchBar {
    padding: 12px;
    width: 80%;
    max-width: 400px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    text-align: center;
}
